@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body:"Roboto", sans-serif;
$main-display-background: #343a40;
$main-display-text: #f8f9fa;
$key-background-color: #dee2e6;
$key-text-color: #212529;
$equation-background: #adb5bd;
$equation-text: #495057;

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $font-body;
}
body{
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 350px;
    border: 2px solid $equation-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: $main-display-background;
    }
    .calculator {
        margin: 30px;
        border: 1px solid $equation-text;
        border-radius: 5px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .equation__screen {
            width: 100%;
            font-size: 2rem;
            height: 50px;
            border: none;
            background-color: $equation-background;
            color:$equation-text;
            text-align: right;
            padding-right: 20px;
            padding-left: 10px;
        }
        .calculator__screen {
            width: 100%;
            font-size: 5rem;
            height: 80px;
            border: none;
            background-color: $main-display-background;
            color:$main-display-text;
            text-align: right;
            padding-right: 20px;
            padding-left: 10px;
        }
        .buttons{
            padding: 10px;
            display:grid;
            grid-template-areas:
            "sqr per mul div"
            "num7 num8 num9 add"
            "num4 num5 num6 sub"
            "num1 num2 num3 del"
            "dot num0 clr cal";
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            button {
                    height: 65px;
                    width: 90px;
                    background-color: $key-background-color;
                    border-radius: 3px;
                    border: 0.1px solid $equation-background;
                    background-color: transparent;
                    font-size: 2rem;
                    color: $key-text-color;
                    background-image: linear-gradient(to bottom,transparent,transparent 50%,$equation-background);
                    box-shadow: 5px 2px 2px $main-display-text ;
                    text-shadow: 0 1px equation-text;
                }              
                button:hover {
                    background-color: $equation-background;
                }      
            .one_button{
                grid-area: num1;
            }
            .two_button{
                grid-area: num2;
            }
            .three_button{
                grid-area: num3;
            }
            .four_button{
                grid-area: num4;
            }
            .five_button{
                grid-area: num5;
            }
            .six_button{
                grid-area: num6;
            }
            .seven_button{
                grid-area: num7;
            }
            .eight_button{
                grid-area: num8;
            }
            .nine_button{
                grid-area: num9;
            }
            .zero_button{
                grid-area: num0;
            }
            .dot_button{
                grid-area: dot;
            }
            .mul_button{
                grid-area: mul;
            }
            .add_button{
                grid-area: add;
            }
            .sub_button{
                grid-area: sub;
            }
            .div_button{
                grid-area: div;
            }
            .per_button{
                grid-area: per;
            }
            .sqr_button{
                grid-area: sqr;
            }            
            .clr_button{
                grid-area: clr;
            }
            .del_button{
                grid-area: del;
            }
            .cal_button{
                grid-area: cal;
            }         

            .cal_button, .act__button {
                background-color:  $equation-background;
                border-color: $equation-background;
                background-image: linear-gradient(to top,transparent,transparent 60%, $main-display-background);
                color: $key-text-color;
            }
            .cal_button:hover, .act__button:hover {
                background-color: $main-display-background;
                color: $main-display-text;
            }
            

        }
    }
    
}

  
 
 
  
  