@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 350px;
  border: 2px solid #495057;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body h1 {
  color: #343a40;
}
body .calculator {
  margin: 30px;
  border: 1px solid #495057;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .calculator .equation__screen {
  width: 100%;
  font-size: 2rem;
  height: 50px;
  border: none;
  background-color: #adb5bd;
  color: #495057;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}
body .calculator .calculator__screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #343a40;
  color: #f8f9fa;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}
body .calculator .buttons {
  padding: 10px;
  display: grid;
  grid-template-areas: "sqr per mul div" "num7 num8 num9 add" "num4 num5 num6 sub" "num1 num2 num3 del" "dot num0 clr cal";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
body .calculator .buttons button {
  height: 65px;
  width: 90px;
  background-color: #dee2e6;
  border-radius: 3px;
  border: 0.1px solid #adb5bd;
  background-color: transparent;
  font-size: 2rem;
  color: #212529;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, #adb5bd);
  box-shadow: 5px 2px 2px #f8f9fa;
  text-shadow: 0 1px equation-text;
}
body .calculator .buttons button:hover {
  background-color: #adb5bd;
}
body .calculator .buttons .one_button {
  grid-area: num1;
}
body .calculator .buttons .two_button {
  grid-area: num2;
}
body .calculator .buttons .three_button {
  grid-area: num3;
}
body .calculator .buttons .four_button {
  grid-area: num4;
}
body .calculator .buttons .five_button {
  grid-area: num5;
}
body .calculator .buttons .six_button {
  grid-area: num6;
}
body .calculator .buttons .seven_button {
  grid-area: num7;
}
body .calculator .buttons .eight_button {
  grid-area: num8;
}
body .calculator .buttons .nine_button {
  grid-area: num9;
}
body .calculator .buttons .zero_button {
  grid-area: num0;
}
body .calculator .buttons .dot_button {
  grid-area: dot;
}
body .calculator .buttons .mul_button {
  grid-area: mul;
}
body .calculator .buttons .add_button {
  grid-area: add;
}
body .calculator .buttons .sub_button {
  grid-area: sub;
}
body .calculator .buttons .div_button {
  grid-area: div;
}
body .calculator .buttons .per_button {
  grid-area: per;
}
body .calculator .buttons .sqr_button {
  grid-area: sqr;
}
body .calculator .buttons .clr_button {
  grid-area: clr;
}
body .calculator .buttons .del_button {
  grid-area: del;
}
body .calculator .buttons .cal_button {
  grid-area: cal;
}
body .calculator .buttons .cal_button, body .calculator .buttons .act__button {
  background-color: #adb5bd;
  border-color: #adb5bd;
  background-image: linear-gradient(to top, transparent, transparent 60%, #343a40);
  color: #212529;
}
body .calculator .buttons .cal_button:hover, body .calculator .buttons .act__button:hover {
  background-color: #343a40;
  color: #f8f9fa;
}/*# sourceMappingURL=styles.css.map */